includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - inc
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - vendor
        - blueprint-theme
